.clear-fix:after{
    float: none;
    display: block;
    content: '';
    visibility: hidden;
    clear: both;
    height: 0;
    overflow: hidden;
    zoom: 1;
}


.main-header{
    padding: 1em 0 0 0;
}
.home-link{
    display: block;
    float: left;
    margin-left: 1.5em;
}



.main-wrapper{
    width: 60%;
    margin: 0 auto;
}
.article-wrap{
    border:rgba(255,255,255,0) 1px solid;
    border-radius: 5px;
    padding: 0 1.5em;
    transition: all 0.6s;
}
.article-wrap.chosen-arc{
    border-color:#E6E9EF;
    background: #fff;
    box-shadow: 0 0 4px rgba(100,100,100,.12);
}


.article-title{
    font-size: 1.5em;
    padding:0.8em 0 0 0;
}
.article-title a{
	color: #283443;
    transition: all 0.4s;
}
.article-wrap.chosen-arc .article-title a{
    color: #EF530E;
}


.article-body{
    font-size: 1.2em;
    color: #606975;
    line-height: 1.8em;
    padding: 0.5em 0 0.6em 0;
    transition: all 0.4s;
}
.article-body:hover{
    color: #434B58;
}
.article-wrap.chosen-arc .article-body{
    color: #434B58;
}

.article-info{
    color: #7E848E;
    border-bottom: rgb(192, 199, 206) 1px dotted;
    font-size: 1.1em;
    padding: 0 0 10px 0;
    vertical-align: middle;
    line-height: 20px;
    font-weight: normal;
    transition: all 0.4s;
}
.article-info span{
    margin-right: 10px;
}
.article-info i{
	font-weight: bold;
}
.article-wrap.chosen-arc .article-info{
    border-color: rgba(255,255,255,0);
}
.article-wrap.chosen-prev .article-info{
    border-color: rgba(255,255,255,0);
}



/*-------*/
@media (max-width: 990px) {
    .main-wrapper{
        width: 100%;
    }
    .article-wrap{
        border-left: none;
        border-right: none;
    }
    .article-wrap.chosen-arc{
        border-radius: 0;
        border-left: none;
        border-right: none;
        box-shadow: 0 0 5px rgba(100,100,100,.1);
        /*box-shadow: none;*/
    }
}
@media (min-width: 990px) and (max-width: 1200px) {
    .main-wrapper{
        width: 75%;
    }
}
@media (min-width: 1200px) {
    .main-wrapper{
        width: 60%;
    }
}