/*公共-布局*/
.clear-fix:after{
    float: none;
    display: block;
    content: '';
    visibility: hidden;
    clear: both;
    height: 0;
    overflow: hidden;
    zoom: 1;
}
.transition300{
    transition: all 0.3s;
}
.transition400{
    transition: all 0.4s;
}
.main-wrapper{
    width: 60%;
    margin: 0 auto;
}
.says,
.screen-reader-text{
    display: none;
}


/*公共-头部*/
.main-header{
    padding: 1em 0 0 0;
}
.home-link{
    display: block;
    float: left;
    margin-left: 1.6em;
}

/*====首页样式====*/
/*列表-容器*/
.article-wrap{
    border:rgba(255,255,255,0) 1px solid;
    padding: 0 1.6em;
    position: relative;
    left: 0px;
}
.article-wrap img{
    width: 100%!important;
}
.article-wrap.chosen-arc{
    background: #fff;
    border-color:#e3e6ea;    
    box-shadow: 0 1px 3px rgba(100,100,100,.14);
}
/*列表-标题*/
.article-title{
    color: #283443;
    font-size: 1.6em;
    padding:1em 0 0 0;
}
.article-title a{
	color: #283443;
    text-decoration: none;
}
.article-title a:hover{
    text-decoration: none;
}
.article-wrap.chosen-arc .article-title a{
    color: #ea6037;
}
/*列表-段落*/
.article-body{
    font-size: 1.25em;
    color: #545b65;
    line-height: 1.8em;
    padding: 0.5em 0 0 0;
}
.article-body p{
    margin: 0 0 0.6em;
}
.article-body .more-link{
    position: relative;
    float: right;
    top: 2.2em;
    color:  #7E848E;
}
.more-link i{
    font-size: 1em;
    margin-left: 2px;
}
.article-wrap.chosen-arc .article-body{
    color: #2c3138;
}

.article-wrap.chosen-arc .article-body .more-link{
    color: #585e69;
}
/*列表-评论*/
.article-info{
    border-bottom: rgba(192, 199, 206,0.8) 1px dotted;
    font-size: 1.1em;
    padding: 0 0 15px 0;
    vertical-align: middle;
    line-height: 20px;
    font-weight: normal;
}
.article-info span,
.article-info a{
    color: #7E848E;
    margin-right: 10px;
}
.article-info i{
	font-weight: bold;
}
.article-wrap.chosen-arc .article-info{
    border-color: rgba(255,255,255,0);
}
.article-wrap.chosen-arc .article-info span,
.article-wrap.chosen-arc .article-info a{
    color: #585e69;
}
.article-wrap.chosen-prev .article-info{
    border-color: rgba(255,255,255,0);
}
/*文章翻页*/
.nav-links{
    text-align: center;
    font-size: 1.2em;
    padding: 0 1.4em;
    position: relative;
    margin: 1.5em 0 0 0;
}
.page-int{
    display: inline-block;
    color: #545b65;
    padding: 6px 8px;
    border-radius: 15px;
    border: rgba(255,255,255,0) 1px solid;
}
.page-int.current{
    color: #555;
    font-weight: bold;
}
.prev,.next{
    color: #7E848E;
    display: block;
    position: absolute;
    top: 0;
    margin: 0;
}
.prev i,.next i{
    font-size: 1.4em;
}
.prev{
    left: 1em;
    padding: 0 20px 0 10px;
}
.next{
    right: 1em;
    padding: 0 10px 0 20px;
}
.prev:hover,a.next:hover{
    text-align: left;
    color: #2c3138;
}
a.prev:hover{
    left: 0.4em;
}
a.next:hover{
    right: 0.4em;

}

/*====文章页面====*/
/*文章内容*/
.article-all-content p{
    color: #2c3138;
}
.article-all-content .article-title{
    font-size: 1.8em;
    margin: 0 0 0.5em 0;
}
/*底部评论表单*/
.comments-title{
    margin: 0 0 20px 0;
}
.comment-list .children > li{
    padding-left: 1.6em;
}
.comment-author{
    overflow: hidden;
    zoom:1;
    margin: 0 0 5px 0;
}
.comment-author .avatar {
    float: left;
    height: 2.2em;
    margin-right: 0.8em;
    width: 2.2em;
    border-radius: 100%;
}
.comment-author b{
    color: #2c3138;
    position: relative;
    top: 0.4em;
    font-size: 1.2em;
}
.comment-meta{
    margin:0 0 5px 0;
}
.comment-metadata{
    clear: both;
    overflow: hidden;
    zoom:1;
}
.comment-metadata a{
    color: #7E848E;
}
.comment-content{
    font-size: 1.2em;
}
.comment-list .reply {
    overflow: hidden;
    zoom:1;
    padding: 0 0 10px 0;
}

.comment-list .reply a {
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    display: block;
    float: right;
}
.comment-list article{
    border-bottom: rgb(192, 199, 206) 1px dotted;
    margin-bottom: 15px;
}
.comments-area{
    padding: 2.5em 1.6em;
}
.comments-title,
.comment-reply-title{
    color: #2c3138;
    font-size: 1.5em;
}
.comment-notes{
    color: #2c3138;
}
.comment-form{
    display: block;
    width: 100%;
}
.comment-form p{
    margin-bottom: 15px;
    width: 100%;
}
.comment-form label {
    color: #707070;
    font-size: 1.2em;
    font-weight: 700;
    display: block;
    line-height: 1.5;
    margin-bottom: 5px;
}
.required{
    color: #c0392b;
    font-weight: bold;
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form input[type="submit"] {
    width: 100%;
}
.form-submit{
    margin: 25px 0 0 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"]{
    padding: 1em;
    outline: none;
    border: #dde2e8 1px solid;
    width: 100%;
    transition: all 0.4s;
    background: #f5f5f5;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    background-color: #283443;
    border: #1b242f 1px solid;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5em;
    display: block;
    text-transform: uppercase;
    transition: all 0.4s;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    background-color: #ea6037;
    border-color: #cc532f;
    outline: 0;
}
textarea {
    background-color: #f5f5f5;
    font-size: 14px;
    line-height: 1.5;
    padding: 1em;
    margin: 0;
    border: #dde2e8 1px solid;
    vertical-align: baseline;
    resize: none;
    display: block;
    width: 100%;
    height: 100px;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
textarea:focus,
input:focus{
    outline: 0;
    background: #fff;
    border-color:#e1e1e1;    
    box-shadow: 0 1px 3px rgba(100,100,100,.14);
}
/*上一篇下一篇*/
.nav-links{
    overflow: hidden;
    zoom:1;
}
.post-navigation .nav-previous{
    float: left;
}
.post-navigation .nav-next{
    float: right;
}
/*---适配尺寸---*/
@media (max-width: 990px) {
    .main-wrapper{
        width: 100%;
    }
    .article-wrap.chosen-arc{
        border-radius: 0;
        border-left-color: rgba(255,255,255,0);
        border-right-color: rgba(255,255,255,0);
        box-shadow: 0 1px 3px rgba(100,100,100,.12);
        left: 0;
    }
    .nav-links{
        margin: 1em 0 0 0;
    }
    .prev,.next{
        top: 0.2em;
    }
    .prev i,.next i{
        font-size: 1.2em;
    }
}
@media (min-width: 990px) and (max-width: 1200px) {
    .main-wrapper{
        width: 70%;
    }
    .article-wrap.chosen-arc{
        left: 5px;
    }
}
@media (min-width: 1200px) {
    .main-wrapper{
        width: 60%;
    }
    .article-wrap.chosen-arc{
        left: 5px;
    }
}