/*公共-布局*/
.clear-fix:after{
    float: none;
    display: block;
    content: '';
    visibility: hidden;
    clear: both;
    height: 0;
    overflow: hidden;
    zoom: 1;
}
.transition300{
    transition: all 0.3s;
}
.transition400{
    transition: all 0.4s;
}
.main-wrapper{
    width: 60%;
    margin: 0 auto;
}


/*公共-头部*/
.main-header{
    padding: 1em 0 0 0;
}
.home-link{
    display: block;
    float: left;
    margin-left: 1.6em;
}

/*====首页样式====*/
/*列表-容器*/
.article-wrap{
    border:rgba(255,255,255,0) 1px solid;
    padding: 0 1.6em;
    position: relative;
    left: 0px;
}
.article-wrap img{
    width: 100%!important;
}
.article-wrap.chosen-arc{
    background: #fff;
    border-color:#e3e6ea;    
    box-shadow: 0 1px 3px rgba(100,100,100,.14);
}
/*列表-标题*/
.article-title{
    font-size: 1.6em;
    padding:1em 0 0 0;
}
.article-title a{
	color: #283443;
    text-decoration: none;
}
.article-title a:hover{
    text-decoration: none;
}
.article-wrap.chosen-arc .article-title a{
    color: #ea6037;
}
/*列表-段落*/
.article-body{
    font-size: 1.25em;
    color: #545b65;
    line-height: 1.8em;
    padding: 0.5em 0 0 0;
}
.article-body p{
    margin: 0 0 0.6em;
}
.article-wrap.chosen-arc .article-body{
    color: #2c3138;
}
/*列表-评论*/
.article-info{
    border-bottom: rgba(192, 199, 206,1) 1px dotted;
    font-size: 1.1em;
    padding: 0 0 15px 0;
    vertical-align: middle;
    line-height: 20px;
    font-weight: normal;
}
.article-info span,
.article-info a{
    color: #7E848E;
    margin-right: 10px;
}
.article-info i{
	font-weight: bold;
}
.article-wrap.chosen-arc .article-info{
    border-color: rgba(255,255,255,0);
}
.article-wrap.chosen-arc .article-info span,
.article-wrap.chosen-arc .article-info a{
    color: #686f79;
}
.article-wrap.chosen-prev .article-info{
    border-color: rgba(255,255,255,0);
}

/*====文章页面====*/
.article-all-content p{
    color: #2c3138;
}
.article-all-content .article-title{
    font-size: 1.8em;
    margin: 0 0 0.5em 0;
}

/*---适配尺寸---*/
@media (max-width: 990px) {
    .main-wrapper{
        width: 100%;
    }
    .article-wrap{
/*        border-left: none;
        border-right: none;*/
    }
    .article-wrap.chosen-arc{
        border-radius: 0;
        border-left-color: rgba(255,255,255,0);
        border-right-color: rgba(255,255,255,0);
        box-shadow: 0 1px 3px rgba(100,100,100,.12);
        left: 0;
    }
}
@media (min-width: 990px) and (max-width: 1200px) {
    .main-wrapper{
        width: 70%;
    }
    .article-wrap.chosen-arc{
        left: 5px;
    }
}
@media (min-width: 1200px) {
    .main-wrapper{
        width: 60%;
    }
    .article-wrap.chosen-arc{
        left: 5px;
    }
}