*{margin: 0;padding: 0;list-style: none;}
/*
KISSY CSS Reset
理念：1. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
2. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
3. reset 期望提供一套普适通用的基础样式。但没有银弹，推荐根据具体需求，裁剪和修改后再使用。
特色：1. 适应中文；2. 基于最新主流浏览器。
维护：玉伯<lifesinger@gmail.com>, 正淳<ragecarrier@gmail.com>
 */

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
  margin: 0;
  padding: 0;
}

/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
  font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
ul, ol { list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; outline: none;}
a:hover { text-decoration: underline; }


/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; outline: none;} /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }

/*----*/
body{background: #fdfdfd;font-family: "microsoft yahei",Arial;-webkit-font-smoothing: antialiased;font-smoothing: antialiased;-webkit-text-size-adjust:100%;text-size-adjust:100%}

/*-----字体图标---*/

@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495853792453'); /* IE9*/
  src: url('iconfont.eot?t=1495853792453#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495853792453') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495853792453') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495853792453#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-appreciate:before { content: "\e644"; }

.icon-check:before { content: "\e645"; }

.icon-close:before { content: "\e646"; }

.icon-edit:before { content: "\e649"; }

.icon-emoji:before { content: "\e64a"; }

.icon-favorfill:before { content: "\e64b"; }

.icon-favor:before { content: "\e64c"; }

.icon-locationfill:before { content: "\e650"; }

.icon-location:before { content: "\e654"; }

.icon-roundcheckfill:before { content: "\e656"; }

.icon-roundcheck:before { content: "\e657"; }

.icon-roundclosefill:before { content: "\e658"; }

.icon-roundclose:before { content: "\e659"; }

.icon-roundrightfill:before { content: "\e65a"; }

.icon-roundright:before { content: "\e65b"; }

.icon-timefill:before { content: "\e65e"; }

.icon-time:before { content: "\e65f"; }

.icon-unfold:before { content: "\e66c"; }

.icon-warnfill:before { content: "\e662"; }

.icon-warn:before { content: "\e663"; }

.icon-camerafill:before { content: "\e664"; }

.icon-commentfill:before { content: "\e666"; }

.icon-comment:before { content: "\e670"; }

.icon-likefill:before { content: "\e671"; }

.icon-like:before { content: "\e672"; }

.icon-notificationfill:before { content: "\e66a"; }

.icon-notification:before { content: "\e66b"; }

.icon-back:before { content: "\e679"; }

.icon-more:before { content: "\e684"; }

.icon-settings:before { content: "\e68a"; }

.icon-questionfill:before { content: "\e690"; }

.icon-question:before { content: "\e691"; }

.icon-pic:before { content: "\e69b"; }

.icon-pulldown:before { content: "\e69f"; }

.icon-pullup:before { content: "\e6a0"; }

.icon-right:before { content: "\e6a3"; }

.icon-refresh:before { content: "\e6a4"; }

.icon-home:before { content: "\e6b8"; }

.icon-homefill:before { content: "\e6bb"; }

.icon-message:before { content: "\e6bc"; }

.icon-friendaddfill:before { content: "\e6c9"; }

.icon-friendadd:before { content: "\e6ca"; }

.icon-selection:before { content: "\e6ce"; }

.icon-square:before { content: "\e6d5"; }

.icon-squarecheck:before { content: "\e6d6"; }

.icon-round:before { content: "\e6d7"; }

.icon-roundaddfill:before { content: "\e6d8"; }

.icon-roundadd:before { content: "\e6d9"; }

.icon-add:before { content: "\e6da"; }

.icon-mobile:before { content: "\e704"; }

.icon-mobilefill:before { content: "\e705"; }

.icon-creativefill:before { content: "\e718"; }

.icon-female:before { content: "\e71a"; }

.icon-male:before { content: "\e71c"; }

.icon-pullleft:before { content: "\e71f"; }

.icon-pullright:before { content: "\e720"; }

.icon-picfill:before { content: "\e72c"; }

.icon-markfill:before { content: "\e730"; }

.icon-mark:before { content: "\e732"; }

.icon-repair:before { content: "\e738"; }

.icon-file:before { content: "\e739"; }

.icon-attentionfill:before { content: "\e73c"; }

.icon-attention:before { content: "\e73d"; }

.icon-communityfill:before { content: "\e740"; }

.icon-community:before { content: "\e741"; }

.icon-tagfill:before { content: "\e751"; }

.icon-tag:before { content: "\e752"; }

.icon-radiobox:before { content: "\e75b"; }

.icon-add1:before { content: "\e767"; }

.icon-move:before { content: "\e768"; }

.icon-comment_fill_light:before { content: "\e7e2"; }






