@charset "utf-8";
@import url("css/global.css");
/*====首页样式====*/
/*公共-布局*/
.clear-fix:after{
    float: none;
    display: block;
    content: '';
    visibility: hidden;
    clear: both;
    height: 0;
    overflow: hidden;
    zoom: 1;
}
.says,
.screen-reader-text{
    display: none;
}
.site-column{
    width: 55%;
    margin: 0 auto;
}
.site-index-content,
.site-category-content{
    clear: both;
}
/*公共-页头*/
.site-header{
    position: relative;
    padding: 1.5em 2.5em 1em 2.5em;
}
.home-link{
    display: block;
    float: left;
}
.home-link img{
    float: left;
}
.home-link span{
    display: block;
    float: left;
    font-size: 2em;
    color: #212b38;
    font-weight:bold;
    margin: 8px 0 0 3px;
    color: #ea6037;
}
.top-menus{
    /*float: right;*/
    overflow: hidden;
    zoom:1;
}
.top-menus-trigger{
    display: block;
    padding-right: 1.8em;
    position: absolute;
    top: 22px;
    right: 0;
    z-index: 999;
    transition: all 0.4s; 
}
.top-menus-trigger i{
    font-size: 2.2em;
    color:#545b65;

}
.top-menus .hover{
    padding-right: 2.2em;
}
.top-menus .hover i{
    color: #2c3138;
}
.top-menus-list{
    display: none;
    background: #fff;
    border:#e3e6ea 1px solid;
    position: absolute;
    padding-right: 40px;
    right: 2.5em;
    top: 25px;
    -moz-box-shadow:0 1px 3px rgba(100,100,100,.14);
    -webkit-box-shadow:0 1px 3px rgba(100,100,100,.14);
    box-shadow:0 1px 3px rgba(100,100,100,.14);
}
.top-menus-list.show{
    display: block;
}
.top-menus-list li{
    display: block;
    float: left;
    font-size: 1.25em;
    border-right:#e3e6ea 1px solid;
}
.top-menus-list li a{
    display: block;
    padding: 3px 10px;
    color: #7E848E;
}
.top-menus li i{
    font-weight: bold;
    font-size: 1.25em;
    color: #545b65;
    margin-right: 2px;
}
.top-menus li a:hover{
    color: #2c3138;
    background: #fff;
}
.top-menus li a:hover i{
    color: #2c3138;
}
/*公共-页尾*/
.site-info{
    padding: 0 2.5em;
    height: 50px;
    margin-top: 20px;
}
.site-info a{
    color: #7E848E;
}

/*====首页样式====*/
/*列表-容器*/
.site-index-content,
.site-category-content{
    background: #fff;
    border:#dadee2 1px solid;
    -moz-box-shadow:0 1px 3px rgba(100,100,100,.18);
    -webkit-box-shadow:0 1px 3px rgba(100,100,100,.18);
    box-shadow:0 1px 3px rgba(100,100,100,.18);
}
.post-block{
    border-bottom:#fff 1px solid;
    padding: 0.5em 2.5em 0 2.5em;
    position: relative;
    left: 0px;
    transition: all 0.4s;
}
.post-block img{
    width: 100%!important;
}
.last-post{
    padding-bottom: 10px;
    border-bottom: none;
}
/*.post-block.chosen-arc{
    background: #fff;
    border-color:#e3e6ea;
    -moz-box-shadow:0 1px 3px rgba(100,100,100,.18);
    -webkit-box-shadow:0 1px 3px rgba(100,100,100,.18);
    box-shadow:0 1px 3px rgba(100,100,100,.18);
}*/
.post-block.chosen-arc{
    background: #fafafa;
    border-bottom:#e7eaee 1px solid;
}
.post-block.last-post{
    border-bottom: none;
}
.post-block.chosen-prev{
    border-bottom: #e7eaee 1px solid;
}
/*列表-标题*/
.post-title{
    color: #283443;
    font-size: 1.6em;
    padding:1em 0 0 0;
    transition: all 0.3s; 
}
.post-title a{
    color: #283443;
    text-decoration: none;
    transition: all 0.3s;
}
.post-title a:hover{
    text-decoration: none;
}
.post-block.chosen-arc .post-title a{
    color: #ea6037;
}
/*列表-段落*/
.post-body{
    font-size: 1.25em;
    color: #51575f;
    line-height: 1.8em;
    padding: 0.5em 0 0 0;
}
.post-body p{
    margin: 0 0 0.6em;
}
.post-body .more-link{
    position: absolute;
    bottom: 13px;
    right: 2.5em;
    color:  #7E848E;
}
.more-link i{
    margin-left: 2px;
}
.post-block.chosen-arc .post-body{
    color: #24272b;
}

.post-block.chosen-arc .post-body .more-link{
    color: #585e69;
}
/*列表-评论*/
.post-info{
    border-bottom: rgba(192, 199, 206,0.9) 1px dotted;
    font-size: 1.1em;
    padding: 0 0 15px 0;
    vertical-align: middle;
    line-height: 20px;
    font-weight: normal;
}
.post-info span{
    color: #7E848E;
    margin-right: 12px;
}
.post-info a{
    color: #7E848E;
}
.post-info i{
    font-weight: bold;
}
.post-info .updated{
    display: none;
}
.post-block.chosen-arc .post-info{
    border-color: rgba(255,255,255,0);
}
.post-block.chosen-arc .post-info span,
.post-block.chosen-arc .post-info a{
    color: #585e69;
}
.post-block.chosen-prev .post-info{
    border-color: rgba(255,255,255,0);
}
.last-post .post-info{
    border-color: rgba(255,255,255,0);
}
/*文章翻页*/
.pagination{
    background: #f6f6f6;
    padding: 12px 0 10px 0;
    border-top: #e7eaee 1px solid;
}
.pagination .nav-links{
    text-align: center;
    font-size: 1.2em;
    padding: 0 1.4em;
    position: relative;
}
.page-numbers{
    display: inline-block;
    color: #545b65;
    padding: 6px 8px;
}
.page-int.current{
    color: #555;
    font-weight: bold;
}
.prev,.next{
    color: #7E848E;
    display: block;
    position: absolute;
    top: 0;
    margin: 0;
    transition: all 0.4s; 
}
.prev i,.next i{
    font-size: 1.4em;
}
.prev{
    left: 1em;
    padding: 0 20px 0 10px;
}
.next{
    right: 1em;
    padding: 0 10px 0 20px;
}
.prev:hover,a.next:hover{
    text-align: left;
    color: #2c3138;
}
a.prev:hover{
    left: 0.4em;
}
a.next:hover{
    right: 0.4em;

}
/*====目录页面====*/
.category-title{
    /*padding: 0 1.5em;*/
}
.category-title h1{
    padding: 0.5em 1.5em;
    background: #fff;
    font-size: 1.6em;
    font-weight: bold;
    background: #f6f6f6;
    border-bottom: #e9e9e9 1px solid;
}
.category-title i{
    font-size: 1.5em;
    font-weight: normal;
}

/*====文章页面====*/
/*文章内容*/
.site-content-content p{
    color: #2c3138;
}
.site-content-content{
    /*padding: 2em;
    border: #d5dbe4 1px solid;
    background: #fff;
    box-shadow: 0 2px 3px rgba(100,100,100,.2);
    border-top: #2c3138 3px solid;*/
}
.site-content-content .post-block{
    padding-bottom: 8px;
    background: #fff;
    border:#dadee2 1px solid;
    -moz-box-shadow:0 1px 3px rgba(100,100,100,.18);
    -webkit-box-shadow:0 1px 3px rgba(100,100,100,.18);
    box-shadow:0 1px 3px rgba(100,100,100,.18);
}
.site-content-content .post-title{
    font-size: 1.8em;
    margin: 0 0 0.5em 0;
}
.site-content-content .post-info{
    border: none;
    padding-bottom: 5px;
}
/*底部评论表单*/
.comments-title{
    margin: 0 0 20px 0;
    color: #464d56
}
.comments-title,
.comment-reply-title{
    font-size: 1.5em;
}
#cancel-comment-reply-link{
    display: block;
    float: right;
    color: rgba(51, 51, 51, 0.7);
    margin-top: 10px;
}
.comments-title i,
.comment-reply-title i{
    font-size: 1.3em;
    margin-right: 5px;
    color: #363c44;
}
.comment-reply-title 
.comment-list{
    margin-bottom: 20px;
}
.comment-list .children > li{
    padding-left: 2em;
}
.comment-author{
    overflow: hidden;
    zoom:1;
    margin: 0 0 5px 0;
}
.comment-author .avatar {
    float: left;
    height: 2.2em;
    margin-right: 0.8em;
    width: 2.2em;
    border-radius: 100%;
}
.comment-author b{
    color: #4e545d;
    position: relative;
    top: 0.4em;
    font-size: 1.2em;
}
.comment-meta{
    margin:0 0 5px 0;
}
.comment-metadata{
    clear: both;
    overflow: hidden;
    zoom:1;
}
.comment-metadata a{
    color: #7E848E;
}
.comment-metadata .edit-link i{
    font-weight: bold;
    color: #393e46;
    margin-left: 2px;
}
.comment-content{
    font-size: 1.2em;
    color: #4e545d;
}
.comment-list .reply {
    overflow: hidden;
    zoom:1;
    padding: 0 0 10px 0;
}

.comment-list .reply a {
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    display: block;
    float: right;
}
.comment-list article{
    border-bottom: rgb(192, 199, 206) 1px dotted;
    margin-bottom: 15px;
}
.comments-area{
    padding: 0;
}
.comments-area-wrap{
    padding: 2em 2.5em;
    background: #fff;
    border: #e3e6ea 1px solid;
    border-top: #2c3138 3px solid;
    -moz-box-shadow:0 1px 3px rgba(100,100,100,.18);
    -webkit-box-shadow:0 1px 3px rgba(100,100,100,.18);
    box-shadow:0 1px 3px rgba(100,100,100,.18);
}
.comment-notes{
    color: #2c3138;
}
.comment-form{
    display: block;
    width: 100%;
}
.comment-form p{
    margin-bottom: 15px;
    width: 100%;
}
.comment-form label {
    color: #4e545d;
    font-size: 1.2em;
    font-weight: 700;
    display: block;
    line-height: 1.5;
    margin-bottom: 5px;
}
.required{
    color: #c0392b;
    font-weight: bold;
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form input[type="submit"] {
    width: 100%;
}
.form-submit{
    margin: 25px 0 0 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"]{
    padding: 1em;
    outline: none;
    border: #dde2e8 1px solid;
    width: 100%;
    transition: all 0.4s;
    background: #f5f5f5;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    background-color: #283443;
    border: #1b242f 1px solid;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5em;
    display: block;
    text-transform: uppercase;
    transition: all 0.4s;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    background-color: #ea6037;
    border-color: #cc532f;
    outline: 0;
}
textarea {
    background-color: #f5f5f5;
    font-size: 14px;
    line-height: 1.5;
    padding: 1em;
    margin: 0;
    border: #dde2e8 1px solid;
    vertical-align: baseline;
    resize: none;
    display: block;
    width: 100%;
    height: 100px;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: all 0.4s;
}
textarea:focus,
input:focus{
    outline: 0;
    background: #fff;
    border-color:#e1e1e1;    
    -moz-box-shadow:0 1px 3px rgba(100,100,100,.15);
    -webkit-box-shadow:0 1px 3px rgba(100,100,100,.15);
    box-shadow:0 1px 3px rgba(100,100,100,.15);
}
/*上一篇下一篇*/
.post-navigation{
    padding: 0 2.5em;
}
.post-navigation .nav-links{
    font-size: 1.2em;
    overflow: hidden;
    zoom:1; 
    padding: 1em 0;
}
.post-navigation .nav-links span,
.post-navigation .nav-links i{
    color: #2c3138;
}
.post-navigation .nav-links .nav-previous a,
.post-navigation .nav-links .nav-next a{
    transition: all 0.4s;
}
.post-navigation .nav-links .nav-previous{
    float: left;
}
.post-navigation .nav-links .nav-previous a:hover{
    margin-left: 10px;
}
.post-navigation .nav-links .nav-next{
    float: right;
}
.post-navigation .nav-links .nav-next a:hover{
    margin-right: 10px;
}
/*---适配尺寸---*/
@media (max-width: 600px) {
    .site-column{
        width: 100%;
    }
    .site-header{
        padding-top: 10px;
        background: #1f2833;
    }
    .top-menus-list li span{
        display: none;
    }
    .home-link img{
        display: none;
    }
    .home-link span{
        font-size: 1.6em;
        color: #fff;
    }
    .top-menus-trigger{
        top: 17px;
    }
    .top-menus .hover i{
        color: #fff;
    }
    .top-menus-trigger i{
        font-size: 1.8em;
        color: #fff;
    }
    .top-menus-list{
        top: 17px;
        border: none;
        box-shadow: none;
    }
    .top-menus-list li{
        border:none;
    }
    .top-menus-list li a{
        padding: 3px 10px;
        color: #545b65;
    }
    .top-menus-list li a:hover{
        background: none;
        color: #fff;
    }
    .top-menus-list li a:hover i{
        color: #fff;
    }
    .top-menus li i{
        font-weight: bold;
        font-size: 1.25em;
        color: #5d656f;
        margin-right: 2px;
    }
}
@media (max-width: 990px) {
    .site-column{
        width: 100%;
    }
    /*.post-block.chosen-arc{
        border-radius: 0;
        border-left-color: rgba(255,255,255,0);
        border-right-color: rgba(255,255,255,0);
        -moz-box-shadow:0 1px 3px rgba(100,100,100,.14);
        -webkit-box-shadow:0 1px 3px rgba(100,100,100,.14);
        box-shadow:0 1px 3px rgba(100,100,100,.14);
        left: 0;
    }*/
    .site-index-content,
    .site-category-content{
        border-left: none;
        border-right: none;
    }
    .site-content-content .post-block{
        border-left: none;
        border-right: none;
    }
    .prev,.next{
        top: 0.2em;
    }
    .prev i,.next i{
        font-size: 1.2em;
    }
}
@media (min-width: 990px) and (max-width: 1200px) {
    .site-column{
        width: 70%;
    }
    /*.post-block.chosen-arc{
        left: 5px;
    }*/
}
@media (min-width: 1200px) {
    .site-column{
        width: 60%;
    }
    /*.post-block.chosen-arc{
        left: 5px;
    }*/
}